<div class="card mt-3">
    <h5 class="card-header bg-secondary text-light">
        <a id="post-link" href="/review/{{id}}">{{title}} by {{user.username}}</a>
    </h5>
    <div class="card-body bg-light">
        <p class="card-text">{{review_body}}</p>
    </div>
    {{#if canEdit}}
    <div class="card-footer">
        <a href="/reviews/edit/{{id}}" class="edit-link">Edit Post</a>
    </div>
    {{/if}}
</div>